[user]
	name = Chris Borgia
	email = chris@cborgia.me
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = chrisborgia
[color]
	ui = true
[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[push]
        default = simple